<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.administrator.service.mapper.UserMapper">
    <select id="getUserByUserName"  resultMap="UserMap">
       SELECT * FROM "USER"
      WHERE USER_NAME=#{userName}
    </select>




    <resultMap id="UserMap" type="User">
        <id property="UserId" column="USER_ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="emplpyeesId" column="EMPLPYEES_ID"/>
    </resultMap>
</mapper>